<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286122443452-fjb31k67g5o8tec51fe6iuav5m279p9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286122443452-fjb31k67g5o8tec51fe6iuav5m279p9t</string>
	<key>API_KEY</key>
	<string>AIzaSyBNbLy-F0vmZ799UloG3dHpEyJa3jB582M</string>
	<key>GCM_SENDER_ID</key>
	<string>286122443452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>avichai.com</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-4faca</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-4faca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286122443452:ios:67d3a9efec2d69b31a46b9</string>
</dict>
</plist>